html {
  background-color: rgb(0, 0, 0);
}
div {
  border: solid 10px rgb(80, 3, 3);
  border-width: 20px 20px;
  margin-left: 0px;
  padding: 0px;
}
h1 {
  color: goldenrod;
}
h2 {
  color: rgb(221, 32, 111);
}

#solo {
  color: aliceblue;
}
#demon {
  color: rgb(212, 5, 212);
}
#jujutsu {
  color: rgb(233, 8, 8);
}
#this {
  color: gold;
}
